body{
    width:80%;
    margin:0px auto;
}


.header2{
    display:flex;
    justify-content:space-between;
    text-decoration:none;
}

.header2 a{
    text-decoration:none;
    color: gray;
}


.services2{
	display:flex;
    flex-direction:column;
    margin-top:50px;
    border-bottom:1px solid black;
    margin-bottom:50px;
}

.filler{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    border-bottom:1px solid black;
}

.filler div{
    border:1px solid black;
    width:35%;
    height:300px;
    margin-bottom:50px;
    background-color: lightgray;
}

.footer{
    display:flex;
}

.copyright{
    margin-left:50%
}
